html, body {
  background-color: #0C1425;
  color: #eaeff8; }

a:link, a:visited, a:hover, a:active {
  color: #7fbf87; }

a:hover {
  color: #ffc100; }

header {
  background: asset-url("top-esion.png") no-repeat right/contain, asset-url("top-canvas.png") repeat-x left/contain, #0C1425;
  color: #eaeff8;
  border-bottom: 1px solid #eaeff8; }

section #content div.content, section #flashes div.content {
  background-color: rgba(0, 0, 0, 0.5); }

footer {
  color: black;
  background: #eaeff8; }

strong {
  font-weight: bold; }

@font-face {
  font-family: "Fantasque Sans Mono";
  src: local("Fantasque Sans Mono"), url(asset-path("FantasqueSansMono-Regular.woff2")) format("woff2"); }

@font-face {
  font-family: "Fantasque Sans Mono";
  src: local("Fantasque Sans Mono Bold"), url(asset-path("FantasqueSansMono-Bold.woff2")) format("woff2");
  font-weight: bold; }

@font-face {
  font-family: "Fantasque Sans Mono";
  src: local("Fantasque Sans Mono Italic"), url(asset-path("FantasqueSansMono-Italic.woff2")) format("woff2");
  font-style: italic; }

@font-face {
  font-family: "Fantasque Sans Mono";
  src: local("Fantasque Sans Mono Bold Italic"), url(asset-path("FantasqueSansMono-BoldItalic.woff2")) format("woff2");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Black"), url(asset-path("Montserrat-Black.woff2")) format("woff2");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Black Italic"), url(asset-path("Montserrat-BlackItalic.woff2")) format("woff2");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Bold"), url(asset-path("Montserrat-Bold.woff2")) format("woff2");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Bold Italic"), url(asset-path("Montserrat-BoldItalic.woff2")) format("woff2");
  font-weight: 700;
  font-style: italic; }

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat ExtraBold"), url(asset-path("Montserrat-ExtraBold.woff2")) format("woff2");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat ExtraBold Italic"), url(asset-path("Montserrat-ExtraBoldItalic.woff2")) format("woff2");
  font-weight: 800;
  font-style: italic; }

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat ExtraLight"), url(asset-path("Montserrat-ExtraLight.woff2")) format("woff2");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat ExtraLight Italic"), url(asset-path("Montserrat-ExtraLightItalic.woff2")) format("woff2");
  font-weight: 200;
  font-style: italic; }

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Italic"), url(asset-path("Montserrat-Italic.woff2")) format("woff2");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Light"), url(asset-path("Montserrat-Light.woff2")) format("woff2");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat LightItalic"), url(asset-path("Montserrat-LightItalic.woff2")) format("woff2");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Medium"), url(asset-path("Montserrat-Medium.woff2")) format("woff2");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Medium Italic"), url(asset-path("Montserrat-MediumItalic.woff2")) format("woff2");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Regular"), url(asset-path("Montserrat-Regular.woff2")) format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat SemiBold"), url(asset-path("Montserrat-SemiBold.woff2")) format("woff2");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat SemiBold Italic"), url(asset-path("Montserrat-SemiBoldItalic.woff2")) format("woff2");
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Thin"), url(asset-path("Montserrat-Thin.woff2")) format("woff2");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Thin Italic"), url(asset-path("Montserrat-ThinItalic.woff2")) format("woff2");
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: "Oswald";
  src: local("Oswald Bold"), url(asset-path("Oswald-Bold.woff2")) format("woff2");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Oswald";
  src: local("Oswald BoldItalic"), url(asset-path("Oswald-BoldItalic.woff2")) format("woff2");
  font-weight: 700;
  font-style: italic; }

@font-face {
  font-family: "Oswald";
  src: local("Oswald Demi-BoldItalic"), url(asset-path("Oswald-Demi-BoldItalic.woff2")) format("woff2");
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: "Oswald";
  src: local("Oswald DemiBold"), url(asset-path("Oswald-DemiBold.woff2")) format("woff2");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: "Oswald";
  src: local("Oswald Extra-LightItalic"), url(asset-path("Oswald-Extra-LightItalic.woff2")) format("woff2");
  font-weight: 200;
  font-style: italic; }

@font-face {
  font-family: "Oswald";
  src: local("Oswald ExtraLight"), url(asset-path("Oswald-ExtraLight.woff2")) format("woff2");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: "Oswald";
  src: local("Oswald Heavy"), url(asset-path("Oswald-Heavy.woff2")) format("woff2");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: "Oswald";
  src: local("Oswald HeavyItalic"), url(asset-path("Oswald-HeavyItalic.woff2")) format("woff2");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: "Oswald";
  src: local("Oswald Light"), url(asset-path("Oswald-Light.woff2")) format("woff2");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Oswald";
  src: local("Oswald LightItalic"), url(asset-path("Oswald-LightItalic.woff2")) format("woff2");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: "Oswald";
  src: local("Oswald Medium"), url(asset-path("Oswald-Medium.woff2")) format("woff2");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Oswald";
  src: local("Oswald MediumItalic"), url(asset-path("Oswald-MediumItalic.woff2")) format("woff2");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: "Oswald";
  src: local("Oswald Regular"), url(asset-path("Oswald-Regular.woff2")) format("woff2");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Oswald";
  src: local("Oswald RegularItalic"), url(asset-path("Oswald-RegularItalic.woff2")) format("woff2");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: "IBM Plex Sans";
  src: local("IBM Plex Sans Bold"), url(asset-path("IBMPlexSans-Bold.woff2")) format("woff2");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "IBM Plex Sans";
  src: local("IBM Plex Sans BoldItalic"), url(asset-path("IBMPlexSans-BoldItalic.woff2")) format("woff2");
  font-style: italic;
  font-weight: 700; }

@font-face {
  font-family: "IBM Plex Sans";
  src: local("IBM Plex Sans ExtraLight"), url(asset-path("IBMPlexSans-ExtraLight.woff2")) format("woff2");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: "IBM Plex Sans";
  src: local("IBM Plex Sans ExtraLightItalic"), url(asset-path("IBMPlexSans-ExtraLightItalic.woff2")) format("woff2");
  font-style: italic;
  font-weight: 200; }

@font-face {
  font-family: "IBM Plex Sans";
  src: local("IBM Plex Sans Italic"), url(asset-path("IBMPlexSans-Italic.woff2")) format("woff2");
  font-style: italic;
  font-weight: 400; }

@font-face {
  font-family: "IBM Plex Sans";
  src: local("IBM Plex Sans Light"), url(asset-path("IBMPlexSans-Light.woff2")) format("woff2");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "IBM Plex Sans";
  src: local("IBM Plex Sans LightItalic"), url(asset-path("IBMPlexSans-LightItalic.woff2")) format("woff2");
  font-style: italic;
  font-weight: 300; }

@font-face {
  font-family: "IBM Plex Sans";
  src: local("IBM Plex Sans Medium"), url(asset-path("IBMPlexSans-Medium.woff2")) format("woff2");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "IBM Plex Sans";
  src: local("IBM Plex Sans MediumItalic"), url(asset-path("IBMPlexSans-MediumItalic.woff2")) format("woff2");
  font-style: italic;
  font-weight: 500; }

@font-face {
  font-family: "IBM Plex Sans";
  src: local("IBM Plex Sans Regular"), url(asset-path("IBMPlexSans-Regular.woff2")) format("woff2");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "IBM Plex Sans";
  src: local("IBM Plex Sans SemiBold"), url(asset-path("IBMPlexSans-SemiBold.woff2")) format("woff2");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: "IBM Plex Sans";
  src: local("IBM Plex Sans SemiBoldItalic"), url(asset-path("IBMPlexSans-SemiBoldItalic.woff2")) format("woff2");
  font-style: italic;
  font-weight: 600; }

@font-face {
  font-family: "IBM Plex Sans";
  src: local("IBM Plex Sans Thin"), url(asset-path("IBMPlexSans-Thin.woff2")) format("woff2");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: "IBM Plex Sans";
  src: local("IBM Plex Sans ThinItalic"), url(asset-path("IBMPlexSans-ThinItalic.woff2")) format("woff2");
  font-style: italic;
  font-weight: 100; }

tt, fixed, pre, code {
  font-family: "Fantasque Sans Mono", Menlo, Consolas, Courier; }

html, body, input {
  font-family: "IBM Plex Sans", "Gill Sans", Helvetica, Verdana, Arial; }

input[type='submit'], button, a.btn:link {
  font-family: Montserrat, Helvetica, Arial; }

h1, h2, h3, h4, h5, h6 {
  font-family: Montserrat, Helvetica, Arial; }

h1, h3 {
  font-weight: 900; }

h2, h4, h5 {
  font-weight: 700; }

h6 {
  font-weight: 600; }

h1, h2 {
  font-size: 2rem; }

h3, h4 {
  font-size: 1.6rem; }

h5, h6 {
  font-size: 1.4rem; }

.advisory, .advisory th {
  font-weight: 200;
  font-size: 0.9em; }
  @media screen and (min-width: 80rem) {
    .advisory, .advisory th {
      font-weight: 100;
      font-size: 0.8em; } }
a.btn[type='submit'], a.btn:link {
  border: 1px solid #2e5d8f;
  border-radius: 0.25rem;
  background-color: #2e5d8f;
  color: #eaeff8;
  padding: 0.5rem;
  text-decoration: none;
  font-size: 1.1rem; }

a.btn:visited {
  color: #eaeff8;
  border-color: #2e5d8f; }

a.btn:hover {
  background-color: #86add8; }

.btn.confirm:link {
  border-color: #489360;
  background-color: #489360; }

.btn.confirm:visited {
  border-color: #489360; }

.btn.confirm:hover {
  background-color: #9dcfad; }

.btn.cancel:link {
  border-color: #ffc100;
  background-color: #ffc100; }

.btn.cancel:visited {
  border-color: #ffc100; }

.btn.cancel:hover {
  background-color: #ffe080; }

.btn.question:link {
  border-color: #a46aaa;
  background-color: #a46aaa; }

.btn.question:visited {
  border-color: #a46aaa; }

.btn.question:hover {
  background-color: #d2b5d5; }

input[type='submit'][type='submit'], input[type='submit']:link {
  border: 1px solid #2e5d8f;
  border-radius: 0.25rem;
  background-color: #2e5d8f;
  color: #eaeff8;
  padding: 0.5rem;
  text-decoration: none;
  font-size: 1.1rem; }

input[type='submit']:visited {
  color: #eaeff8;
  border-color: #2e5d8f; }

input[type='submit']:hover {
  background-color: #86add8; }

input[type='submit'].confirm {
  background-color: #489360;
  border-color: #489360; }
  input[type='submit'].confirm:link {
    border-color: #489360;
    background-color: #489360; }
  input[type='submit'].confirm:visited {
    border-color: #489360; }
  input[type='submit'].confirm:hover {
    background-color: #9dcfad; }

button {
  border: 1px solid #2e5d8f;
  border-radius: 0.25rem;
  background-color: #2e5d8f;
  color: #eaeff8;
  padding: 0.5rem;
  text-decoration: none;
  font-size: 1.1rem; }
  button[type='submit'], button:link {
    border: 1px solid #2e5d8f;
    border-radius: 0.25rem;
    background-color: #2e5d8f;
    color: #eaeff8;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.1rem; }
  button:visited {
    color: #eaeff8;
    border-color: #2e5d8f; }
  button:hover {
    background-color: #86add8; }
  button.question {
    border: 1px solid #a46aaa;
    border-radius: 0.25rem;
    background-color: #a46aaa;
    color: #eaeff8;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.1rem; }

input.confirm {
  background-color: #122518;
  border-color: #489360; }

body {
  background-color: black;
  color: white; }

h1, h2, h3, h4, h5, h6 {
  color: black;
  background-color: #a46aaa; }

h2 {
  background-color: #2e5d8f; }

h3 {
  background-color: #489360; }

nav ul {
  padding-left: 0; }
  nav ul li {
    display: inline-block; }
    nav ul li a[type='submit'], nav ul li a:link {
      border: 1px solid #2e5d8f;
      border-radius: 0.25rem;
      background-color: #2e5d8f;
      color: #eaeff8;
      padding: 0.5rem;
      text-decoration: none;
      font-size: 1.1rem; }
    nav ul li a:visited {
      color: #eaeff8;
      border-color: #2e5d8f; }
    nav ul li a:hover {
      background-color: #86add8; }
